.math-block
  font-family inherit
  padding .1rem 1.5rem
  border-left-width .5rem
  padding-right: 0rem
  border-left-style solid
  margin 1rem 0
  border-radius 0 !important
  background-color rgba(102, 128, 153, .05) !important
  border-color #D6DBDF
  color $textColor

pre.math-block
  white-space pre-wrap

.content .footer.custom p
  margin 0
