.math-block
  font-family inherit
  padding .1rem 1.5rem
  margin 1rem 0
  border-left .5rem solid #D6DBDF
  border-radius 0 !important
  background-color rgba(102, 128, 153, .05) !important
  color $textColor

pre.math-block
  white-space pre-wrap

.content .footer.custom p
  margin 0
